
@{
    ViewData["Title"] = "MasterPage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Main.css">
    <title>AquaLink</title>
</head>
<body>
    <div class="Container">
        <div class="Top">
            <img src="images/Logo.png" style="width: 110px; height: 110px; margin-left: 10px;">
            <div class="Options">
                <button class="OptionBtn"> All Chats </button>
                <button class="OptionBtn"> Groups </button>
                <button class="OptionBtn"> Favourite </button>
                <button class="OptionBtn"> Archived </button>
                <button class="OptionBtn"> Log Out </button>
            </div>
            <div class="UserPFP">
                <image src="images/msn-icon-16.png" style="width: 85px; height: 85px; border: none; border-radius: 50%;">
            </div>
        </div>
        <div class="Bottom">
            @RenderBody();
        </div>
    </div>
</div>
</body>
