@{
    ViewData["Title"] = "Intro";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("/Welcome.css")" />
    <title>AquaLink</title>
</head>
<body>
    <div class="Top-Layer">
        <div class="Top-Menu">
            <img src="/images/Logo.png" class="Logo">
            <button class="btn SignInBtn"> Sign In </button>
            <button class="btn SignUpBtn"> Sign Up </button>
        </div>

        <div class="IntroContainer">
            <div class="Intro">
                <h1 class="IntroTitle"> Welcome To AquaLink!</h1>
                <div class="Description">
                    <div class="WhoAreWe">
                        <h1 class="SectionTitle"> <strong>Who Are We And What Is AquaLink?</strong></h1>
                        <h2 class="SectionText"> AquaLink Is A WEB/Desktop/Mobile Chatting Application Which Uses The Old Mid 2000's Styling - Frutiger Aero. Here At AquaLink, People Talk To Each Other, Connect With Each Other And Make New Friends.</h2>
                        <h1 class="SectionTitle"> <strong>Can You Trust Us?</strong></h1>
                        <h2 class="SectionText"> Of Course! Your Conversations, Messages And Secrets Are Safe With Us. Our System Secures And Protects Each One Of Your Messages With An End To End Encryption(E2EE) And Won't Let Third Parties Manipulate Or Read Them</h2>
                        <h1 class="DownloadOurApp"> <strong>Download Our App (Windows)</strong></h1>
                        <button class="Download"> <strong>Download</strong> </button>
                    </div>
                    <img src="/images/WhatsApp Image 2025-07-02 at 22.38.38_fad21015.jpg" class="IntroImage">
                </div>
            </div>
        </div>
    </div>

    <div class="MiddleLayer">
        <div class="BGS">
            <h1 class="MiddleTitle"> Don't Like Frutiger Aero? Choose Your Own Aesthetic!</h1>
            <div class="ThemeOptions">
                <div class="Dark-Aero"></div>
                <div class="Cyber-Glacier"></div>
                <div class="Metal-Heart"></div>
                <div class="Frutiger-Aurora"></div>
                <div class="Custom">
                    <h1 class="CustomTitle"> Or Make Your Own!</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("/Welcome.js")"></script>
</body>
</html>
