@using Microsoft.AspNetCore.DataProtection
@inject IDataProtectionProvider DataProtectionProvider

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/SignUp.css">
    <title>AquaLink</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="MainTitle">Create Your Account</h1>

        <form action="https://localhost:7159/User/RegisterUser"
              enctype="multipart/form-data"
              method="post">
            @Html.AntiForgeryToken

            <h1 class="SectionHeader">Enter Your Name</h1>

            <div class="InfoGather">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name" class="LastName">
            </div>

            <div class="InfoGather">
                <div class="Email">
                    <label>Email</label>
                    <input type="email" placeholder="YourMail@gmail.com">
                </div>

                <div class="Password">
                    <label>Password</label>
                    <input type="password" placeholder="Secret Password">
                </div>
            </div>

            <div class="PhoneSection">
                <label>Enter Your Phone Number</label>
                <input type="tel"
                       placeholder="123-456-7890"
                       pattern="[05]{2}[0-9]{8}"
                       required>
            </div>

            <div class="ProfilePicSection">
                <label>Pick Your Profile Picture</label>

                <div class="FilePicker">
                    <input type="file" accept="image/jpeg, image/png" required>
                    <div class="FakeFileButton">Pick An Image</div>
                </div>
            </div>

            <div class="buttons">
                <button type="button" class="btn BackBtn">Back To The Main Page</button>
                <button type="submit" class="Submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="~/Register.js"></script>
</body>
</html>
