@using Microsoft.AspNetCore.Http;
@using Data;
@model QRCode;

@{
    ViewData["Title"] = "SignInViaQR";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/SignIn.css">
    <title>AquaLink</title>
</head>
<body>
    <div class="Container">
        <h1>Welcome Back To AquaLink!</h1>

        <div class="Bottom">
            <div class="Instructions">
                <h1 class="WelcomeTitle">It's Good To See You Back!</h1>
                <h2 class="NoMargin">We Are Glad To See You Back, We Missed You!</h2>

                <br>

                <h2 class="NoMargin">To Log Into AquaLink WEB, Please Follow These Steps:</h2>

                <br>

                <div class="Steps">
                    <div class="Step">
                        <div class="circle">
                            <h1>1</h1>
                        </div>
                        <h2>Open Our App</h2>
                    </div>

                    <br>

                    <div class="Step">
                        <div class="circle">
                            <h1>2</h1>
                        </div>
                        <h2>Tap <i class="ri-camera-line"></i></h2>
                    </div>

                    <br>

                    <div class="Step">
                        <div class="circle">
                            <h1>3</h1>
                        </div>
                        <h2>And Scan The QR Code!</h2>
                    </div>
                </div>
            </div>

            <div class="Qr-Code">
                <img src="@Model.QR_Code" class="QrImage">
            </div>
        </div>

        <div class="BtnDiv">
            <button type="button" class="Back-Btn">Back</button>
        </div>
    </div>

    <script src="~/SignIn.js"></script>
</body>
</html>
